<%= form_with(model: edublog, local: true) do |form| %>
  <% if edublog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edublog.errors.count, "error") %> prohibited this edublog from being saved:</h2>

      <ul>
        <% edublog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.date_select :time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
