<p id="notice"><%= notice %></p>

<h1>Edublogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Author</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edublogs.each do |edublog| %>
      <tr>
        <td><%= edublog.title %></td>
        <td><%= edublog.body %></td>
        <td><%= edublog.author %></td>
        <td><%= edublog.time %></td>
        <td><%= link_to 'Show', edublog %></td>
        <td><%= link_to 'Edit', edit_edublog_path(edublog) %></td>
        <td><%= link_to 'Destroy', edublog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edublog', new_edublog_path %>
