<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @edublog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @edublog.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @edublog.author %>
</p>

<p>
  <strong>Time:</strong>
  <%= @edublog.time %>
</p>

<%= link_to 'Edit', edit_edublog_path(@edublog) %> |
<%= link_to 'Back', edublogs_path %>
